[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py-interactions = "*"
"discord.py" = "*"
pandas = "*"
sqlalchemy = "*"
jupyter = "*"
xlrd = "*"
openpyxl = "*"
pip = "*"
install = "*"
psycopg2-binary = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
